<div class="header">Bonsai Journaling</div>
<div class="subheader"><%= @tree.nickname%> (<%= @tree.species %>)</div>
</div class="content">
    <ul>
        <li>Style: <%= @tree.style %></li>
        <li>In Training Since: <% @tree.date %></li>
    </ul>
</div>