/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
font-family: Candara;
background-color:#eafbff;
background-image:
radial-gradient(circle at 100% 150%, #eafbff 24%, white 24%, white 28%, #eafbff 28%, #eafbff 36%, white 36%, white 40%, transparent 40%, transparent),
radial-gradient(circle at 0    150%, #eafbff 24%, white 24%, white 28%, #eafbff 28%, #eafbff 36%, white 36%, white 40%, transparent 40%, transparent),
radial-gradient(circle at 50%  100%, white 10%, #eafbff 10%, #eafbff 23%, white 23%, white 30%, #eafbff 30%, #eafbff 43%, white 43%, white 50%, #eafbff 50%, #eafbff 63%, white 63%, white 71%, transparent 71%, transparent),
radial-gradient(circle at 100% 50%, white 5%, #eafbff 5%, #eafbff 15%, white 15%, white 20%, #eafbff 20%, #eafbff 29%, white 29%, white 34%, #eafbff 34%, #eafbff 44%, white 44%, white 49%, transparent 49%, transparent),
radial-gradient(circle at 0    50%, white 5%, #eafbff 5%, #eafbff 15%, white 15%, white 20%, #eafbff 20%, #eafbff 29%, white 29%, white 34%, #eafbff 34%, #eafbff 44%, white 44%, white 49%, transparent 49%, transparent);
background-size: 100px 50px;
display: grid;
grid-template-columns: auto 50px 40px;
grid-template-rows: 120px 50px auto 10px;
color: black;
}
a {
  text-decoration: none;
  color: black
}
.header {
  font-size: 80px;
  font-weight: bold;
  text-align: right;
  grid-column-start: 1;
  grid-column-end: span col3-start;
  grid-row-start: 1;
  background-color: rgba(0, 124, 137, 0.5);
  padding-right: 20px;
}
.subheader {
  font-size: 36px;
  font-style: italic;
  background-color: rgba(0, 124, 137, 0.2);
  grid-column-start: 1;
  grid-column-end: span col3-start;
  grid-row-start: 2;
  padding-left: 10px;
}
.content {
  grid-column-start: 1;
  grid-column-end: span col3-start;
  grid-row-start: 2;
  grid-row-end: span 2;
}
ul {
  list-style-type: none;
  padding-left: 0px;
}
label {
  display: inline-block
}
.trees {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 95%
}
.tree_species {
  font-size: 20px;
  font-style: italic;
  padding-left: 5px;
}
.trees li {
  width: 300px;
  height: 200px; 
  list-style: none;
  padding: 0;
  margin: 0;
  float: left;
  margin: 5px;
  position: relative;
}
.trees ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.trees .card {
  width: 300px;
  height: 200px;
  background-color: #069eaf;
  position:absolute;
  z-index:1;
  margin: 5px;
  -webkit-transition:all 0.3s ease-in-out;  
}

.trees .card:hover { 
  background: #0bb9cc;
  width: 400px;
  height: 300px;
  z-index:2;
  -webkit-transform:translate(-5px,-5px);
  -webkit-box-shadow: 1px 1px 1px #888;
}