/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
  background-color:#eafbff;
  background-image:
  radial-gradient(circle at 100% 150%, #eafbff 24%, white 24%, white 28%, #eafbff 28%, #eafbff 36%, white 36%, white 40%, transparent 40%, transparent),
  radial-gradient(circle at 0    150%, #eafbff 24%, white 24%, white 28%, #eafbff 28%, #eafbff 36%, white 36%, white 40%, transparent 40%, transparent),
  radial-gradient(circle at 50%  100%, white 10%, #eafbff 10%, #eafbff 23%, white 23%, white 30%, #eafbff 30%, #eafbff 43%, white 43%, white 50%, #eafbff 50%, #eafbff 63%, white 63%, white 71%, transparent 71%, transparent),
  radial-gradient(circle at 100% 50%, white 5%, #eafbff 5%, #eafbff 15%, white 15%, white 20%, #eafbff 20%, #eafbff 29%, white 29%, white 34%, #eafbff 34%, #eafbff 44%, white 44%, white 49%, transparent 49%, transparent),
  radial-gradient(circle at 0    50%, white 5%, #eafbff 5%, #eafbff 15%, white 15%, white 20%, #eafbff 20%, #eafbff 29%, white 29%, white 34%, #eafbff 34%, #eafbff 44%, white 44%, white 49%, transparent 49%, transparent);
  background-size: 100px 50px;
 }